.chat-window {
  width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin: auto;

}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  margin-left: 6px;
}

.message.self .message-content {
  background-color: #DCF8C6;
  align-self: flex-end;
}

.message-content {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFF;
  max-width: 60%;
}

.chat-input {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}




.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}


.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
} 

.msg_send_btn {
  background: #012f3c none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
    
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }